p.copyable {
    cursor: pointer;
    background-color: transparent;
}

/* Add flash keyframe animation after copying */
@keyframes copyflash {
    0% { background-color: yellow; }
    100% { background-color: transparent; }
}
p.copydone {
    animation: copyflash 0.5s;
}
